### https://raw.github.com/github/gitignore/d1caffed352607b5415e9e0e827f4770eb39e316/composer.gitignore

composer.phar
/vendor/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock


