<IfModule mod_rewrite.c>
  RewriteEngine On


  RewriteBase /~j150989k/
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^api/v0/(.*)$ index.php?u=$1 [L,QSA]
  
  RewriteBase /~j150989k/
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.html [L,QSA]
</IfModule>

