<?xml version="1.0"?>
<phpunit
        bootstrap="./tests/bootstrap.php"
        colors="true"
        convertErrorsToExceptions="false"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        verbose="true"
        stopOnFailure="true"
        processIsolation="false"
        backupGlobals="false"
        syntaxCheck="true"
        >
    <testsuite name="server tests">
        <directory>./tests</directory>
    </testsuite>
</phpunit>
