/* Base Application Styles */
@import 'base.scss';

body {
  /*color: #fff;*/
  background: #eee;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}


.container {
  display: flex;
  // flex-direction: column;

  .left-panel {
    flex-basis: 200px;
    flex-shrink: 0;

    .link {
      @include link();
    }
  }

  .main {
    flex-grow: 1;
    box-sizing: border-box;
    padding-top: 24px;
    padding-left: 4px;
    padding-right: 24px;
  }
}
