.comment-component {
  border: 1px dashed #f00;

  .comment-avatar {
    img {
      width: 36px;
      height: 36px;
      vertical-align: middle;
      background-color: #fff;
      padding: 1px;
      border: 1px solid #ddd;
      margin-right: 4px;
      border-radius: 50%;
    }
  }
}
