.comment-component {
  width: 800px;

  .comment-meta {
    display: flex;
    align-items: center;
    box-sizing: border-box;

    .username {
      margin-left: 0px;
      font-size: 1em;
    }
    .timestamp {
      margin-left: 20px;
      font-size: .8em;
      color: gray;
    }
  }
  .comment-body {
    font-size: 1.1em;
  }
}
