.post-component {
  background: #FFFFFF;
  border: 1px solid #979797;
  box-shadow: 0 0 0 1px #EDEEEE;
  border-radius: 2px;

  width: 800px;

  .post-image img {
    max-height: 530px;
  }

  .post-meta {
    padding: 24px 20px;

    .post-account {
      display: flex;
      align-items: center;

      img {
        width: 36px;
        height: 36px;
        vertical-align: middle;
        background-color: #fff;
        padding: 1px;
        border: 1px solid #ddd;
        margin-right: 4px;
        border-radius: 50%;
      }
      .screen-name {
        margin-left: 8px;
      }
      .timestamp {
        margin-left: 20px;
        color: gray;
      }
    }
    .post-text {
      padding: 12px 0;
    }
  }
}
